@import  '../public/css/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* رنگ اسکرول بار */
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #474747;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .background_color {
    /* background: linear-gradient(rgba(226, 3, 55, 1), rgba(198, 1, 136, 1), rgba(119, 0, 195, 1)); */
    background: radial-gradient(rgba(0,0,0,0.15) 60%,transparent 0 ), radial-gradient(white 63%,transparent 0), linear-gradient(to top right,rgba(119, 0, 195, 1),rgba(226, 3, 55, 1));
  }
  .befor-status-user::after,
  .befor-status-user::before{
    content: '';
    width: .90rem;
    height: .1rem;
    position: absolute;
    right:10%;
    border-radius: .5rem;
    bottom: 30%;
    z-index: 10;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
  .befor-status-user::after{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

  .clip-path {
    clip-path: circle(42%);
  }

  .font-staus-bar {
    font-weight: 600;
    font-size: small;
    font-style: italic;
  }

  .font-staus-bar {
    @apply text-black dark:text-white
  }

  .live-box::after {
    content: 'live';
    position: absolute;
    left: -5px;
    top: 60%;
    right: 0;
    width: 26px;
    height: 16px;
    background-color:rgba(201, 0, 131, 1) ;
    /*background: linear-gradient(rgba(201, 0, 131, 1), rgba(210, 36, 99, 1), rgba(225, 0, 56, 1));
    */font-size:10px;
    display: flex;
    padding: .2rem .5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #0e0e0e6c;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    color: #fff;
}

  /* ---------- active image */
  .active_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bg-acount_dialog {
    background: #606c88;
    /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(to top, #3f4c6b, #606c88);
    /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to top, #3f4c6b, #606c88);
  }

  .slid_show_dialog {
    background-color: rgba(0, 0, 0, 0.459);
  }

  #active_icon_branch {
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
  }


  .input_form_user {
    background-color: transparent;
    padding: 0 .5rem;
    border-radius: .5rem;
    margin-left: 1rem;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

  .select_form {
    padding: .5rem 1rem;
  }

}
